{% extends 'admin/headeradmin.html' %}
{% load static %}
{% block content %}
{% if messages %}
    <script>
        {% for message in messages %}
            {% if message.tags == 'error' %}
                Swal.fire({
                    icon: 'error',  
                    title: 'Oops...',
                    text: '{{ message }}',
                    confirmButtonText: 'OK'
                });
            {% elif message.tags == 'success' %}
                Swal.fire({
                    icon: 'success',  
                    title: 'Success!',
                    text: '{{ message }}',
                    confirmButtonText: 'OK'
                });
            {% endif %}
        {% endfor %}
    </script>
{% endif %}

      <section class="content-main">
        <div class="content-header">
          <div>
            <h2 class="content-title card-title">Coupons</h2>
            <p>Add  a Coupons</p>
          </div>
          <div>
            <input
              type="text"
              placeholder="Search Categories"
              class="form-control bg-white"
            />
          </div>
        </div>
        <div class="card">
          <div class="card-body">
            <div class="row">
              <div class="col-md-8">
                {% if coupon %}
                <form enctype="multipart/form-data" method="POST" action="{% url 'edit_coupon' id=coupon.id %}">
                  {% csrf_token %}
                  <div class="mb-4">
                      <label for="product_name" class="form-label">Coupon Code</label>
                      <input type="text" name="code" value="{{ coupon.code }}" class="form-control" id=""  />
                  </div>
                  <div class="mb-4">
                      <label for="prcategoryoduct_slug" class="form-label">Discount</label>
                      <input type="text" name="discount" value="{{ coupon.discount_value }}" class="form-control" id="" />
                  </div>
                  <div class="mb-4">
                    <label for="prcategoryoduct_slug" class="form-label">Min_purchase</label>
                    <input type="text" name="MIN-purchase" value="{{ coupon.min_purchase_amount }}" class="form-control" id="" />
                </div>
                {% if messages %}
                <div class="alert alert-danger">
                    {% for message in messages %}
                        <p>{{ message }}</p>
                    {% endfor %}
                </div>
            {% endif %} 
                <div class="mb-4">
                  <label for="prcategoryoduct_slug" class="form-label">Valid From</label>
                  <input type="date" name="validfrom"  value="{{ coupon.valid_from }}"  class="form-control" id="" />
              </div>
              <div class="mb-4">
                <label for="prcategoryoduct_slug" class="form-label">Valid To</label>
                <input type="date" name="validto"  value="{{ coupon.valid_to }}"   class="form-control" id="" />
            </div>
            <div class="mb-2">
              <label for="prcategoryoduct_slug" class="form-label"> Limit </label>
              <input type="text" name="limit"   value="{{ coupon.usage_limit }}"   class="form-control" id="" />
          </div>
          {% endif %}
                  <div class="d-grid">
                   
                      <button type="submit" class="btn btn-primary">Submit</button>
                  </div>
              </form>
              
                
              </div>
             
               
            
              <!-- .col// -->
            </div>
            <!-- .row // -->
          </div>
          <!-- card body .// -->
        </div>
        <!-- card .// -->
      </section>
      <!-- content-main end// -->

    
    
  {% endblock %}