{% extends 'admin/headeradmin.html' %}
{% load static %}
{% block content %}
            <section class="content-main">
                <div class="content-header">
                    <div>
                        <h2 class="content-title card-title">User List</h2>
                    </div>
                    
                </div>
                <div class="card mb-4">
                    <header class="card-header">
                        <div class="row align-items-center">
                          <form class="searchform" method="get">
                            <div class="input-group">
                                <input list="search_terms" type="text" class="form-control" name="search" placeholder="Search term" value="{{ search_query }}" />
                                <button class="btn btn-light bg" type="submit"><i class="material-icons md-search"></i></button>
                            </div>
                        </form>
                            <div class="col col-check flex-grow-0">
                               
                            </div>
                           
                           
                            
                    </header>
                    <!-- card-header end// -->
                    <div class="card-body">
                        
                        <!-- itemlist  .// -->
                       
                      {% if user %}
                      {% for val in items %}
                        <!-- itemlist  .// -->
                        <article class="itemlist">
                            <div class="row align-items-center text-center">
                              <div class="col-12 col-sm-6 col-md-2"> <!-- Fixed width for ID column -->
                                <h6 class="mb-0">{{ val.id }}</h6>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3"> <!-- Fixed width for Username -->
                                <a class="itemside" href="#">
                                    <div class="info">
                                        <h6 class="mb-0 text-truncate">{{ val.username }}</h6> <!-- Truncate long text -->
                                    </div>
                                </a>
                            </div>
                            <div class="col-12 col-sm-6 col-md-3">
                                <span class="text-truncate d-block">{{ val.email }}</span> <!-- Truncate long text -->
                            </div>
                            <div class="col-12 col-sm-6 col-md-2">
                                {% if val.is_active %}
                                    <span class="badge rounded-pill alert-success">Active</span>
                                {% else %}
                                    <span class="badge rounded-pill alert-danger">Blocked</span>
                                {% endif %}
                            </div>
                            <!-- <div class="col-12 col-sm-6 col-md-2">
                                <span>{{ val.date_joined }}</span>
                            </div> -->
                            <div class="col-12 col-sm-6 col-md-2">
                                {% if val.is_active %}
                                    <a href="{% url 'user_status' id=val.id %}" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete_forever text-danger"></i> Block
                                    </a>
                                {% else %}
                                    <a href="{% url 'user_status' id=val.id %}" class="btn btn-sm font-sm btn-light rounded">
                                        <i class="material-icons md-delete_forever text-success"></i> UnBlock
                                    </a>
                                {% endif %}
                            </div>
                            

                            </div>
                            
                            <!-- row .// -->
                        </article>
                        {% endfor %}
                        {% endif %}
                        <!-- itemlist  .// -->
                    </div>
                    <!-- card-body end// -->
                </div>
                <!-- card end// -->
                <div class="pagination-area mt-15 mb-50">
                  <nav aria-label="Page navigation example">
                      <ul class="pagination justify-content-start">
                          {% if items.has_previous %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ items.previous_page_number }}&search={{ search_query }}">Previous</a>
                          </li>
                          {% endif %}
                          {% for num in items.paginator.page_range %}
                          <li class="page-item {% if items.number == num %}active{% endif %}">
                              <a class="page-link" href="?page={{ num }}&search={{ search_query }}">{{ num }}</a>
                          </li>
                          {% endfor %}
                          {% if items.has_next %}
                          <li class="page-item">
                              <a class="page-link" href="?page={{ items.next_page_number }}&search={{ search_query }}">Next</a>
                          </li>
                          {% endif %}
                      </ul>
                  </nav>
              </div>
              
            </section>
{% endblock %}